 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  
  .container {
      width: 90%;
      max-width: 600px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: auto;
  }
  
  header {
      text-align: center;
      margin-bottom: 20px;
  }
  
  
  
  h1 {
      font-size: 2em;
      color: #4CAF50;
      text-align: center;
  }
  
  .phone-book {
      display: flex;
      flex-direction: column;
  }
  
  
  
  .entry {
      display: flex;
      align-items: center;
      background-color: #fafafa;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      transition: transform 0.2s;
      justify-content: space-between;
  }
  
  .entry:hover {
      transform: scale(1.02);
  }
  
  .profile-pic {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
  }
  
  .info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  }
  
  .name {
      font-size: 1.2em;
      font-weight: bold;
  }
  
  .phone,
  .email {
      font-size: 1em;
      margin-top: 5px;
      color: #555;
  }
  
  
  #add{
      width: 60px;
      height: 60px;
  }
  
  
  
  #delete{
      width: 60px;
      height: 60px;
  }
  
  form {
      display: flex;
      justify-content: center;
      gap: 10px;
  }
  
  input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }
  
  button {
  
      font-size: 16px;
      color: #fff;
      background-color: #007BFF;
      border: none;
  
      cursor: pointer;
      transition: background-color 0.3s;
  
  }
  
  button:hover {
      background-color: #0056b3;
  }
  
  #search {
      margin-top: 20px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }
  
  ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
  }
  
  li {
      background-color: #eee;
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .button-group {
      display: flex;
      gap: 10px;
      align-items: center;
  
  }
  .button-group>div {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
  }
  
  /* .edit-button, .delete-button {
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      margin: 2px 0;
  } */
  
  .edit-button {
      border-radius: 3rem;
      background-color: #26A1F4;
      color: white;
      width: 30px;
      height: 30px;
     }
  
     .icon{
  
      width: 30px;
      height: 30px;
      text-align: center;
  
     }
  
  .delete-button {
      background-color: red;
      border-radius: 3rem;
      width: 30px;
      height: 30px;
  
      color: white;
      transition: background-color 0.3s;
  }
  
  .delete-button:hover {
      background-color: #c82333;
  }
  .info-button{
  
      border-radius: 3rem;
      background-color: #26A1F4;
      width: 30px;
      height: 30px;
  
  
  }
  #add-button {
      background-color: #26A1F4;
      border-radius: 3em;
  
          width: 60px;
          height: 60px;
  
  }
  #deleteall-button{
      background-color:#c82333;
      border-radius: 3em;
      width: 60px;
      height: 60px;
  }



  #footer{
display: flex;
align-items: center;
justify-content: center;
  }